@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is T-UP test web APP built with C#.</p>
    <p>Enjoy the DEMO, please :)</p>
</div>
