@page
@model InsertModel
@{
    ViewData["Title"] = "Insert test";

    //var insertValue = "";

    //if(IsPost){
    //    insertValue = Request.Form["insertValue"];
    //}
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <h2>connecting ---> DB NAME : @ViewData["dbname"]</h2>

    <p>=====================================</p>

    <form>
        <input type="text" placeholder="INSERTする値を入力" name="insertValue"  value="@Request.Form["insertValue"]">
        <input type="submit" values="INSERT実行">
    </form>
</div>